# Aitzaz Tahir C 19P-0012
# Abdullah Tahir 19P-0067

In [14]:
import pandas as pd
cric20= pd.read_csv("t20.csv")
cric20.head()

,Sno,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Unnamed: 15
0,0,V Kohli (INDIA),2010-2019,75,70,20,2633,94*,52.66,1907,138.07,0,24,2,247,71,NaN
1,1,RG Sharma (INDIA),2007-2019,104,96,14,2633,118,32.1,1905,138.21,4,19,6,234,120,NaN
2,2,MJ Guptill (NZ),2009-2019,83,80,7,2436,105,33.36,1810,134.58,2,15,2,215,113,NaN
3,3,Shoaib Malik (ICC/PAK),2006-2019,111,104,30,2263,75,30.58,1824,124.06,0,7,1,186,61,NaN
4,4,BB McCullum (NZ),2005-2015,71,70,10,2140,123,35.66,1571,136.21,2,13,3,199,91,NaN

In [15]:
cric20= pd.read_csv("t20.csv")
cric20.head()

,Sno,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Unnamed: 15
0,0,V Kohli (INDIA),2010-2019,75,70,20,2633,94*,52.66,1907,138.07,0,24,2,247,71,NaN
1,1,RG Sharma (INDIA),2007-2019,104,96,14,2633,118,32.1,1905,138.21,4,19,6,234,120,NaN
2,2,MJ Guptill (NZ),2009-2019,83,80,7,2436,105,33.36,1810,134.58,2,15,2,215,113,NaN
3,3,Shoaib Malik (ICC/PAK),2006-2019,111,104,30,2263,75,30.58,1824,124.06,0,7,1,186,61,NaN
4,4,BB McCullum (NZ),2005-2015,71,70,10,2140,123,35.66,1571,136.21,2,13,3,199,91,NaN

In [16]:
cric20.drop('Unnamed: 15',inplace=True,axis=1)

In [17]:
cric20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1854 entries, 0 to 1853
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sno     1854 non-null   int64
 1   Player  1854 non-null   object
 2   Span    1854 non-null   object
 3   Mat     1854 non-null   int64
 4   Inns    1854 non-null   int64
 5   NO      1854 non-null   int64
 6   Runs    1854 non-null   int64
 7   HS      1854 non-null   object
 8   Ave     1854 non-null   object
 9   BF      1854 non-null   int64
 10  SR      1854 non-null   object
 11  100     1854 non-null   int64
 12  50      1854 non-null   int64
 13  0       1854 non-null   int64
 14  4s      1854 non-null   int64
 15  6s      1854 non-null   int64
dtypes: int64(11), object(5)
memory usage: 231.9+ KB

In [18]:
cric20.drop('Sno',axis=1)

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,V Kohli (INDIA),2010-2019,75,70,20,2633,94*,52.66,1907,138.07,0,24,2,247,71
1,RG Sharma (INDIA),2007-2019,104,96,14,2633,118,32.1,1905,138.21,4,19,6,234,120
2,MJ Guptill (NZ),2009-2019,83,80,7,2436,105,33.36,1810,134.58,2,15,2,215,113
3,Shoaib Malik (ICC/PAK),2006-2019,111,104,30,2263,75,30.58,1824,124.06,0,7,1,186,61
4,BB McCullum (NZ),2005-2015,71,70,10,2140,123,35.66,1571,136.21,2,13,3,199,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1849,H Ssenyondo (UGA),2019-2019,4,1,1,0,0*,-,0,-,0,0,0,0,0
1850,Taijul Islam (BDESH),2019-2019,2,1,1,0,0*,-,1,0,0,0,0,0,0
1851,Ziaur Rehman (Fin),2019-2019,1,1,0,0,0,0,4,0,0,0,1,0,0
1852,M Zondeki (SA),2006-2006,1,1,0,0,0,0,1,0,0,0,1,0,0
1853,Zulqarnain Haider (ESP),2019-2019,5,1,0,0,0,0,0,-,0,0,1,0,0

In [19]:
cric20[cric20['100']>3]

,Sno,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
1,1,RG Sharma (INDIA),2007-2019,104,96,14,2633,118,32.1,1905,138.21,4,19,6,234,120

In [20]:
cric20['HS']=cric20["HS"].str.replace("*","")

df = cric20.astype({'HS':'int64'})
df[df['HS']>50]

C:\Users\abdul\AppData\Local\Temp/ipykernel_6104/4065361447.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  cric20['HS']=cric20["HS"].str.replace("*","")

,Sno,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,0,V Kohli (INDIA),2010-2019,75,70,20,2633,94,52.66,1907,138.07,0,24,2,247,71
1,1,RG Sharma (INDIA),2007-2019,104,96,14,2633,118,32.1,1905,138.21,4,19,6,234,120
2,2,MJ Guptill (NZ),2009-2019,83,80,7,2436,105,33.36,1810,134.58,2,15,2,215,113
3,3,Shoaib Malik (ICC/PAK),2006-2019,111,104,30,2263,75,30.58,1824,124.06,0,7,1,186,61
4,4,BB McCullum (NZ),2005-2015,71,70,10,2140,123,35.66,1571,136.21,2,13,3,199,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705,5,K Birkenstock (NAM),2019-2019,4,2,0,64,59,32,33,193.93,0,1,0,7,4
706,6,S Dube (INDIA),2019-2019,6,4,2,64,54,32,42,152.38,0,1,0,3,4
741,41,Muhammad Saleem (),2019-2019,4,4,0,59,52,14.75,54,109.25,0,1,0,5,1
756,6,A Makesh (KUW),2019-2019,4,2,1,57,57,57,41,139.02,0,1,0,3,4
776,26,Mirza Ahsan (Aut),2019-2019,5,3,2,55,51,55,18,305.55,0,1,0,2,7

In [21]:
cric20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1854 entries, 0 to 1853
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sno     1854 non-null   int64
 1   Player  1854 non-null   object
 2   Span    1854 non-null   object
 3   Mat     1854 non-null   int64
 4   Inns    1854 non-null   int64
 5   NO      1854 non-null   int64
 6   Runs    1854 non-null   int64
 7   HS      1854 non-null   object
 8   Ave     1854 non-null   object
 9   BF      1854 non-null   int64
 10  SR      1854 non-null   object
 11  100     1854 non-null   int64
 12  50      1854 non-null   int64
 13  0       1854 non-null   int64
 14  4s      1854 non-null   int64
 15  6s      1854 non-null   int64
dtypes: int64(11), object(5)
memory usage: 231.9+ KB

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1854 entries, 0 to 1853
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sno     1854 non-null   int64
 1   Player  1854 non-null   object
 2   Span    1854 non-null   object
 3   Mat     1854 non-null   int64
 4   Inns    1854 non-null   int64
 5   NO      1854 non-null   int64
 6   Runs    1854 non-null   int64
 7   HS      1854 non-null   int64
 8   Ave     1854 non-null   object
 9   BF      1854 non-null   int64
 10  SR      1854 non-null   object
 11  100     1854 non-null   int64
 12  50      1854 non-null   int64
 13  0       1854 non-null   int64
 14  4s      1854 non-null   int64
 15  6s      1854 non-null   int64
dtypes: int64(12), object(4)
memory usage: 231.9+ KB

In [23]:
cric20['Ave']=cric20["Ave"].str.replace("-","0")
d = cric20.astype({'Ave':'float'})
d[d['Ave']>35.0].count()
print(d.iloc[0,7])

94